<% if element[:check_point_errors] %>
  <% errors_list = {} %>
  <% errors_count = 0 %>
  <ul>
    <% element[:check_point_errors].each do |error_key| %>
      <% error = @errors[error_key] %>
      <% next unless error %>
      <% if error[:source] %>
        <% filename = error[:source][:file].present? ? error[:source][:file][:filename] : 'Inconsitencies detected in transport data' %>
        <% errors_list[filename] ||= []  %>
        <% errors_list[filename] << error  %>
      <% end %>
    <% end %>
    <% errors_list.each do |key, values| %>
      <% errors_count += values.count %>
      <li>
        <strong>
          <%= button_tag type: :button, class: 'hide show-js ievkit-AccordionBlock-details', 'data-toggle': 'tooltip',
                         'data-placement': 'top', 'title': 'Déplier/Plier' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
          <%= key %>
        </strong>
        <div class="hide-js">
          <ul>
            <% values.each do |detail| %>
              <li>
                <% if detail[:test_id].present? %>
                  <strong>
                    <%= detail[:test_id] %>
                    <%= link_to "#{ENV['SPEC_VALIDATION_URL']}/#{I18n.locale}/#{detail[:test_id]}.html", target: '_blank', rel: 'noreferrer' do %>
                      <span class="glyphicon glyphicon-link"></span>
                    <% end %>
                    -
                  </strong>
                <% end %>
                <%= render 'ievkit_views/file_details', detail: detail, filename: false %>
                <%= render 'ievkit_views/report_results_error_name', error: detail %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
    <%= render 'ievkit_views/element_count', element: element, errors_count: errors_count %>
  </ul>
<% end %>
